body {
    padding:0;
    margin: 0;
    font-family: monospace;
    background: black;
    box-sizing: border-box;
}
main{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
main > section{
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.head{
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}
h2{
  color: white;
  font-weight: bolder;
}
span{
  color: dodgerblue;
}
nav{
  height: 100px;
  display: flex;
  justify-content: space-aroun;
  align-items: center;
  padding: 0 0 0 40px;
}
nav > a{
  color: dodgerblue;
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
}
nav > a:nth-child(1){
  color: white;
}
.section1{
  display: inline-block;
}
h1{
  font-size: 35px;
}
.section1 > h1 , p{
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
}
#bestp{
  color: dodgerblue;
  display: grid;
  place-items: center;
  margin-top: 300px;
}
#middle{
  height: 100vh;
  width: 90%;
  text-align: justify;
  padding: 2px 0 0 15px;
}
h3{
  color: ghostwhite;
  font-weight: bolder;
  font-size: 50px;
  text-decoration: underline;
}
#middle p{
  color: white;
}
